* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 60px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    z-index: 10;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
}

.navbar-inner {
    text-align: center;
}

main {
    flex: 1 0 auto;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #f25604;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.visible {
    visibility: visible!important;
}

.oculto {
    visibility: hidden;
    margin-bottom: 0 !important;
}